html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;  
}

h1, h2, h3, h4, h5 {
    font-family: "Noto Sans JP", sans-serif;    
}

p{
    font-family: "Raleway", sans-serif;
}

.cover {
    width: 100vw;
    height: 100vh;
    background-image: url(portada_50.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cover h1 {
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
    font-size: 3rem;
    max-width: 80%;
    margin: 0;
    padding: 15px;
    word-wrap: break-word;
}

.cover p {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 57%;
    color: white;
    font-size: 1.2rem;
    max-width: 80%;
    line-height: 1.5;
    padding: 15px;
    border-radius: 5px;
    word-wrap: break-word;
}

@media (max-width: 768px){
    .cover{
        height: 100vh;
        background-position: top center;
        padding: 10px;
    }

    .cover h1{
        font-size: 2rem;
        max-width: 90%;
    }

    .cover p{
        font-size: 1rem;
        max-width: 90%;
    }
}