body {
    margin: 0;    
}

h1, h2, h3, h4, h5 {
<<<<<<< HEAD
    font-family: "Noto Sans JP", sans-serif;
=======
    font-family: "Noto Sans JP", sans-serif;    
>>>>>>> 46f7900 (mejoras en diseño responsivo y ajuste de imagen)
}

p{
    font-family: "Raleway", sans-serif;
}

.cover {
<<<<<<< HEAD
    height: 800px;
=======
    width: 100vw;
    height: 100vh;
>>>>>>> 46f7900 (mejoras en diseño responsivo y ajuste de imagen)
    background-image: url(portada_50.jpg);
    background-size: cover;
    background-position: center;
    background-color: black;
    display: flex;
<<<<<<< HEAD
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
=======
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding: 20px;
>>>>>>> 46f7900 (mejoras en diseño responsivo y ajuste de imagen)
}

.cover h1 {
    position: absolute;
    top: 40%;
    left: 11%;
    color: white;
    font-size: 3rem;
    margin: 0;
}

.cover p {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 45%;
    color: white;
    font-size: 1.2rem;
<<<<<<< HEAD
=======
    max-width: 80%;
>>>>>>> 46f7900 (mejoras en diseño responsivo y ajuste de imagen)
    line-height: 1.6;
    padding: 15px;
    border-radius: 5px;
}